if SHIELD_THINK_CORNEY_RIGHT

config ZMK_KEYBOARD_NAME
	default "ThinkCorney"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_THINK_CORNEY_LEFT || SHIELD_THINK_CORNEY_RIGHT

config ZMK_SPLIT
	default y

endif