
/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <SYM NUM>;
            then-layer = <FUNC>;
        };

        // Left Hand Only
        adjust_layer {
            if-layers = <NAV SYM>;
            then-layer = <ADJUST>;
        };
    };

};
