#ifdef HAS_MOUSE_KEYS
  #include <dt-bindings/zmk/mouse.h>
#endif

// These are defines to make the keymap behavior for adjusting
// trackpoint settings shorter.
//
// For example, add U_MSS_TP_S_I to a keymap layer to create a key
// that increases the trackpoint sensitivity.
//
// Check the...
// `IBM TrackPoint System Version 4.0 Engineering Specification` (YKT3Eext.pdf)
// ... to learn more what these settings do.

#define U_MSS_TP_S_I &mms MS_TP_SENSITIVITY_INCR
#define U_MSS_TP_S_D &mms MS_TP_SENSITIVITY_DECR

#define U_MSS_TP_NI_I &mms MS_TP_NEG_INERTIA_INCR
#define U_MSS_TP_NI_D &mms MS_TP_NEG_INERTIA_DECR

#define U_MSS_TP_V6_I &mms MS_TP_VALUE6_INCR
#define U_MSS_TP_V6_D &mms MS_TP_VALUE6_DECR

#define U_MSS_TP_PT_I &mms MS_TP_PTS_THRESHOLD_INCR
#define U_MSS_TP_PT_D &mms MS_TP_PTS_THRESHOLD_DECR

// Below are settings and behavior defines for mouse keys.
// If your mouse/trackpoint is not working, try if the
// mouse keys are working to try to narrow down the problem.
//
// You can add them to your keymap using the defines
// below, such as `U_MS_U` for the up key.
//
// Credits for these settings go to urob.

&mmv {
  acceleration-exponent = <1>;      // 1
  time-to-max-speed-ms = <1500>;    // 40
  delay-ms = <0>;                   // 0
};

&msc {
  acceleration-exponent = <1>;      // 0
  time-to-max-speed-ms = <5000>;    // 40
  delay-ms = <0>;                   // 10
};

#define U_BTN1 &mkp LCLK
#define U_BTN2 &mkp RCLK
#define U_BTN3 &mkp MCLK
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define U_WH_U &msc SCRL_UP
#define U_WH_D &msc SCRL_DOWN
#define U_WH_L &msc SCRL_LEFT
#define U_WH_R &msc SCRL_RIGHT
